In [1]:
import numpy as np
import pandas as pd

In [2]:
inventory = pd.read_csv('inventory.csv',delimiter= ';')  
actor = pd.read_csv('actor.csv',delimiter= ';')
old_HDD = pd.read_csv('old_HDD.csv',delimiter= ';') 
film = pd.read_csv('film.csv',delimiter= ';')  
category = pd.read_csv('category.csv',delimiter= ';') 
language = pd.read_csv('language.csv',delimiter= ';') 
rental = pd.read_csv('rental.csv',delimiter= ';')

# Actor Table

In [3]:
actor = pd.read_csv('actor.csv',delimiter= ';')
actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [4]:
actor.drop_duplicates(inplace=True)
actor.isnull().sum()

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

In [5]:
actor.duplicated().sum()

0

In [6]:
actor.head()

   actor_id first_name     last_name    last_update
0         1   PENELOPE       GUINESS  15/2/06 04:34
1         2       NICK      WAHLBERG  15/2/06 04:34
2         3         ED         CHASE  15/2/06 04:34
3         4   JENNIFER         DAVIS  15/2/06 04:34
4         5     JOHNNY  LOLLOBRIGIDA  15/2/06 04:34

In [7]:
actor['full_name'] = actor['first_name'] + ' ' + actor['last_name']

In [8]:
actor.drop(columns = 'first_name', inplace = True)
actor.drop(columns = 'last_name', inplace = True)
actor.drop(columns = 'last_update', inplace= True)

In [9]:
actor

     actor_id            full_name
0           1     PENELOPE GUINESS
1           2        NICK WAHLBERG
2           3             ED CHASE
3           4       JENNIFER DAVIS
4           5  JOHNNY LOLLOBRIGIDA
..        ...                  ...
195       196          BELA WALKEN
196       197           REESE WEST
197       198          MARY KEITEL
198       199        JULIA FAWCETT
199       200         THORA TEMPLE

[200 rows x 2 columns]

In [10]:
actor.to_csv('actor_clean.csv', index=False)

# Category Table

In [11]:
category

    category_id         name    last_update
0             1       Action  15/2/06 04:46
1             2    Animation  15/2/06 04:46
2             3     Children  15/2/06 04:46
3             4     Classics  15/2/06 04:46
4             5       Comedy  15/2/06 04:46
5             6  Documentary  15/2/06 04:46
6             7        Drama  15/2/06 04:46
7             8       Family  15/2/06 04:46
8             9      Foreign  15/2/06 04:46
9            10        Games  15/2/06 04:46
10           11       Horror  15/2/06 04:46
11           12        Music  15/2/06 04:46
12           13          New  15/2/06 04:46
13           14       Sci-Fi  15/2/06 04:46
14           15       Sports  15/2/06 04:46
15           16       Travel  15/2/06 04:46

In [12]:
new_row = {'category_id': '0', 'name': 'Unknown', 'last_update': '-'}
category = category.append(new_row, ignore_index=True)
category

/var/folders/9r/gs1g10c57dq76y5t067393s40000gn/T/ipykernel_17439/835959458.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  category = category.append(new_row, ignore_index=True)

   category_id         name    last_update
0            1       Action  15/2/06 04:46
1            2    Animation  15/2/06 04:46
2            3     Children  15/2/06 04:46
3            4     Classics  15/2/06 04:46
4            5       Comedy  15/2/06 04:46
5            6  Documentary  15/2/06 04:46
6            7        Drama  15/2/06 04:46
7            8       Family  15/2/06 04:46
8            9      Foreign  15/2/06 04:46
9           10        Games  15/2/06 04:46
10          11       Horror  15/2/06 04:46
11          12        Music  15/2/06 04:46
12          13          New  15/2/06 04:46
13          14       Sci-Fi  15/2/06 04:46
14          15       Sports  15/2/06 04:46
15          16       Travel  15/2/06 04:46
16           0      Unknown              -

In [13]:
category.drop(columns='last_update',inplace= True)
category

   category_id         name
0            1       Action
1            2    Animation
2            3     Children
3            4     Classics
4            5       Comedy
5            6  Documentary
6            7        Drama
7            8       Family
8            9      Foreign
9           10        Games
10          11       Horror
11          12        Music
12          13          New
13          14       Sci-Fi
14          15       Sports
15          16       Travel
16           0      Unknown

# old_HDD Table

In [14]:
old_HDD = pd.read_csv('old_HDD.csv',delimiter= ';')

In [15]:
old_HDD

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

In [16]:
old_HDD.duplicated().sum()

0

In [17]:
old_HDD.isnull().sum()

first_name      0
last_name       0
title           0
release_year    0
category_id     0
dtype: int64

In [18]:
old_HDD = pd.merge(old_HDD, film, on='title', how='right')
old_HDD.isnull().sum()

first_name               386
last_name                386
title                      0
release_year_x           386
category_id              386
film_id                    0
description                0
release_year_y             0
language_id                0
original_language_id    1386
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
last_update                0
dtype: int64

In [19]:
old_HDD.drop(columns='original_language_id',inplace= True)

In [20]:
old_HDD.drop(columns=['first_name', 'last_name', 'release_year_x'], inplace=True)

In [21]:
old_HDD.duplicated().sum()

386

In [22]:
old_HDD.drop_duplicates(inplace=True)

In [23]:
old_HDD.isnull().sum()

title                 0
category_id         386
film_id               0
description           0
release_year_y        0
language_id           0
rental_duration       0
rental_rate           0
length                0
replacement_cost      0
rating                0
special_features      0
last_update           0
dtype: int64

In [24]:
old_HDD

,title,category_id,film_id,description,release_year_y,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,ACADEMY DINOSAUR,6.0,1,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",15/2/06 05:03
4,ACE GOLDFINGER,11.0,2,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",15/2/06 05:03
5,ADAPTATION HOLES,6.0,3,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",15/2/06 05:03
8,AFFAIR PREJUDICE,NaN,4,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",15/2/06 05:03
9,AFRICAN EGG,NaN,5,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,15/2/06 05:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379,YOUNG LANGUAGE,6.0,996,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",15/2/06 05:03
1381,YOUTH KICK,12.0,997,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",15/2/06 05:03
1383,ZHIVAGO CORE,11.0,998,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6,0.99,105,10.99,NC-17,Deleted Scenes,15/2/06 05:03
1384,ZOOLANDER FICTION,NaN,999,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",15/2/06 05:03
1385,ZORRO ARK,NaN,1000,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",15/2/06 05:03

In [25]:
old_HDD.fillna(0, inplace=True)
old_HDD.isnull().sum()

title               0
category_id         0
film_id             0
description         0
release_year_y      0
language_id         0
rental_duration     0
rental_rate         0
length              0
replacement_cost    0
rating              0
special_features    0
last_update         0
dtype: int64

In [26]:
old_HDD.head(3)

,title,category_id,film_id,description,release_year_y,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,ACADEMY DINOSAUR,6.0,1,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",15/2/06 05:03
4,ACE GOLDFINGER,11.0,2,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",15/2/06 05:03
5,ADAPTATION HOLES,6.0,3,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",15/2/06 05:03

In [27]:
old_HDD.drop(columns='last_update', inplace=True)

In [28]:
old_HDD['category_id'] = old_HDD['category_id'].astype(int)

In [29]:
desired_order = ['film_id', 'title','category_id','release_year_y','description','language_id','rental_duration','rental_rate','length','rating','special_features','replacement_cost']
old_HDD = old_HDD.reindex(columns=desired_order)

In [30]:
film = old_HDD

In [31]:
film.rename(columns={'release_year_y': 'release_year'}, inplace=True)
film

,film_id,title,category_id,release_year,description,language_id,rental_duration,rental_rate,length,rating,special_features,replacement_cost
0,1,ACADEMY DINOSAUR,6,2006,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,PG,"Deleted Scenes,Behind the Scenes",20.99
4,2,ACE GOLDFINGER,11,2006,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,G,"Trailers,Deleted Scenes",12.99
5,3,ADAPTATION HOLES,6,2006,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,NC-17,"Trailers,Deleted Scenes",18.99
8,4,AFFAIR PREJUDICE,0,2006,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,G,"Commentaries,Behind the Scenes",26.99
9,5,AFRICAN EGG,0,2006,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,G,Deleted Scenes,22.99
...,...,...,...,...,...,...,...,...,...,...,...,...
1379,996,YOUNG LANGUAGE,6,2006,A Unbelieveable Yarn of a Boat And a Database ...,1,6,0.99,183,G,"Trailers,Behind the Scenes",9.99
1381,997,YOUTH KICK,12,2006,A Touching Drama of a Teacher And a Cat who mu...,1,4,0.99,179,NC-17,"Trailers,Behind the Scenes",14.99
1383,998,ZHIVAGO CORE,11,2006,A Fateful Yarn of a Composer And a Man who mus...,1,6,0.99,105,NC-17,Deleted Scenes,10.99
1384,999,ZOOLANDER FICTION,0,2006,A Fateful Reflection of a Waitress And a Boat ...,1,5,2.99,101,R,"Trailers,Deleted Scenes",28.99
1385,1000,ZORRO ARK,0,2006,A Intrepid Panorama of a Mad Scientist And a B...,1,3,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",18.99

In [32]:
old_HDD2 = pd.read_csv('old_HDD2.csv',delimiter= ';')

In [33]:
old_HDD2

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

In [34]:
actors_movies = pd.merge(old_HDD2, actor, on='full_name', how='inner')

KeyError: 'full_name'

In [ ]:
df['full_name'] = df['first_name'] + ' ' + df['last_name']

# Inventory Table

In [ ]:
inventory

In [ ]:
inventory.isnull().sum()

In [ ]:
inventory.duplicated().sum()

In [ ]:
inventory.info()

In [ ]:
inventory.drop(columns='last_update', inplace=True)

In [ ]:
inventory

# Language Table

In [ ]:
language = pd.read_csv('language.csv',delimiter= ';') 
language

In [ ]:
language.isnull().sum()

In [ ]:
language.duplicated().sum()

In [ ]:
language.drop(columns='last_update', inplace=True)

In [ ]:
language

# Rental Table

In [ ]:
rental

In [ ]:
rental.info()

In [ ]:
rental.isnull().sum()

In [ ]:
rental.duplicated().sum()

In [ ]:
rental.head()

In [ ]:
rental.drop(columns='last_update', inplace=True)

In [ ]:
len(rental)

In [ ]:
rental.tail()

In [ ]:
rental['rental_date'] = pd.to_datetime(rental['rental_date'], format='%d/%m/%y %H:%M')

In [ ]:
rental['return_date'] = pd.to_datetime(rental['return_date'], format='%d/%m/%y %H:%M')

In [ ]:
rental

# New Table: Customers

In [ ]:
customer1 = rental['customer_id'].unique()

In [ ]:
customer1

In [ ]:
customer = pd.DataFrame(customer1, columns=['customer_id'])

In [ ]:
customer = customer.sort_values(by='customer_id', ascending=True)

In [ ]:
customer = customer.reset_index(drop=True)

In [ ]:
import random
import string

# Function to generate a random name
def generate_random_name():
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters).capitalize() for i in range(5))

names_list = [generate_random_name() for _ in range(485)]
print(names_list)
customer['Names']= names_list

In [ ]:
customer.rename(columns={'Names': 'names'}, inplace=True)

In [ ]:
customer

In [ ]:
import random

def generate_random_phone_number():
    area_code = random.randint(100, 999)
    first_part = random.randint(100, 999)
    second_part = random.randint(1000, 9999)
    return f"({area_code}) {first_part}-{second_part}"

# Generate a list of 485 phone numbers
phone_numbers = [generate_random_phone_number() for _ in range(485)]

# Display the list containing 485 phone numbers
print(phone_numbers)

In [ ]:
customer['phone_number']= phone_numbers

In [ ]:
customer

# New table: Staff

In [ ]:
staff = rental['staff_id'].unique()

In [ ]:
staff = pd.DataFrame(staff, columns=['staff_id'])

In [ ]:
staff

In [ ]:
staff['names']= ['Lorraine Sanchez', 'Christopher Perez']

In [ ]:
staff

In [ ]:
staff.drop('Names', axis=1, inplace=True)

In [ ]:
staff

In [ ]:
distinct

In [ ]:
inventory.to_csv('inventory_clean.csv', index=False)
actor.to_csv('actor_clean.csv', index=False)
film.to_csv('film_clean.csv', index=False)
category.to_csv('category_clean.csv', index=False)
language.to_csv('language_clean.csv', index=False)
customer.to_csv('customer_clean.csv',index= False)
staff.to_csv('staff_clean.csv',index= False)

In [ ]:
rental_inventory_ids = set(rental['inventory_id'])
inventory_inventory_ids = set(inventory['inventory_id'])

# Identify the inventory_id values in rental that are not in inventory
invalid_inventory_ids = rental_inventory_ids - inventory_inventory_ids

# Delete rows with invalid inventory_id values from the rental DataFrame
rental = rental[~rental['inventory_id'].isin(invalid_inventory_ids)]

In [ ]:
rental.to_csv('rental_clean.csv', index=False)